
html{
	scroll-behavior:smooth;
}

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: Arial, Helvetica, sans-serif;
  }

  .wrapper{
	width:100%;
  }
  
  .container{
	width:100%;
	position:relative;
  }
  
  .foods{
	width:70%;
	height:auto;
	display:inline-block;
	position:absolute;
	right:0;
	display:flex;
	flex-direction: column;
	flex-wrap:wrap;
  }
  
  .food > div{
	width:250px;
	height:250px;
	background:#fff;
	border:2px solid #ddd;
	margin:12px auto;
  }
  
  .list{
	width:30%;
	max-width:250px;
	height:100vh;
	background:#ddd;
	display:inline-block;
	position:fixed;
	left:0;
  }

  .all-restaurant{
	  display: none;
  }


  .highlight{
	  background-color: orange;
  }


ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

li{
	width: 100%;
	padding: 1rem;
	cursor:pointer;
}

/* #app.active{ */
	/* display: none; */
/* } */

/* #all-res.active{ */
	/* display: none; */
/* } */


li a{
	font-weight:bold;
	color: rgba(0.0.0.9);
	text-decoration: none;
}


.recipe{
	display: inline-block !important;
	width: 270px;
	height: 270px;
	margin: 10px;
}

.foods > div , .all-res{
	box-shadow: 6px 3px 10px #ddd;
	padding: 10px 20px;
}

.inline-element{
	display: inline-block;
}


.more{	
	width: 230px;
	height: 213px;
	border: 2px solid #ddd;
	transform: translateY(-70%);
	display: inline-block;
	text-align: center;
	line-height: 213px;
	font-weight: bold;
	cursor: pointer;
	margin: 0 20px;
	color: red;
}


.box{
	width: 220px;
	height: 220px;
	margin:20px;
}

.recipe:hover{
	border: 2px solid #ddd;
	transition: all 1s;
	box-shadow: 2px 2px 3px #ddd;
	transform: scale(1.1);
  }

  .recipe:hover .viwe{
	  visibility: visible;
  }

  .title{
	  color: #839390;
  }

  .rating{
	background: lightgreen;
    padding: 1px 4px;
    border-radius: 5px;
	color: #fff;
	font-weight: bold;
  }

  .food-info{
	display: flex;
    justify-content: space-around;
	padding:5px;
	/* background-color: red; */
}

a{
	display: block;
}

.viwe{
	width: 50%;
	margin: auto;
	color: skyblue;
	text-align: center;
	font-weight: bold;
	visibility: hidden;
	position: relative;
    bottom: 1.5rem;
}

img{
	object-fit: cover;
	/* background-size: cover; */
}

li.active{
	background: orange;
}

hr{
	height: 1px;
	background-color: #ddd;
}

.more-items-text{
	font-weight: bold;
}

.recipe.active{
	display: none !important;
}
