
html{
	scroll-behavior:smooth;
}

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: Arial, Helvetica, sans-serif;
  }

  .wrapper{
	width:100%;
  }
  
  .container{
	display: flex;
	position: relative;
  }
  
  .foods{
	position: absolute;
	width: 80%;
	right: 0;
	margin: 0 auto;
  }
  
  .box{
	max-width:250px;
	height:250px;
	background:#fff;
	margin:12px auto;
  }
  
  .list{
	position: fixed;
	background:#ddd;
	height:100vh;
	width: 18%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

  }

  .close-menu-btn{
	width: 90%;
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
  }

  .boxContainer{
	display: grid;
	grid-template-columns: repeat(auto-fit , minmax(250px , 1fr));
  }

  .boxContainer{
	margin-top: 1rem;
	margin-bottom: 1rem;
  }
 
  .popular-restaurant > div{
   display: flex;
   flex-direction: column;
  } 

  .all-restaurant{
	  display: none;
  }


  .highlight{
	  background-color: orange;
  }


ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

li{
	width: 100%;
	padding: 1rem;
	cursor:pointer;
	transition: 0.5s ease;
}


li a{
	font-weight:bold;
	color: rgba(0.0.0.9);
	text-decoration: none;
}

li:hover{
	background-color: orange;
}


.recipe ,.more{
	display: inline-block;
	width: 270px;
	height: 270px;
	margin: 10px;
	border: 2px solid #ddd;
	transition: all 1s;
	box-shadow: 2px 2px 3px #ddd;
	transform: scale(1);
	border-radius: 5px;
}

.foods > div , .all-res{
	box-shadow: 6px 3px 10px #ddd;
	padding: 10px 20px;
}

.inline-element{
	display: inline-block;
	position: relative;
}


.more{
	display: flex;
	align-items: center;
	justify-content: center;
	color: red;
	cursor: pointer;
}


.box{
	width: 220px;
	height: 220px;
	margin:20px;
}

  .title{
	  color: #839390;
	  margin-left: 1rem;
	  margin-top: 1rem;
  }

  .rating{
	background: lightgreen;
    padding: 1px 4px;
    border-radius: 5px;
	color: #fff;
	font-weight: bold;
  }

  .food-info{
	display: flex;
    justify-content: space-around;
	padding:5px;
	/* background-color: red; */
}

a{
	display: block;
}

.viwe{
	width: 50%;
	margin: auto;
	color: skyblue;
	text-align: center;
	font-weight: bold;
	position: relative;
    bottom: 1.5rem;
}

img{
	object-fit: cover;
	/* background-size: cover; */
}

li.active{
	background: orange;
}

hr{
	height: 1px;
	background-color: #ddd;
}

.more-items-text{
	font-weight: bold;
}

.recipe.active{
	display: none !important;
} 

.menu{
	margin-top: 2rem;
	margin-left:1rem
}
.line{
	width: 30px;
	height: 3px;
	margin: 5px;
	background-color: black;
}

.line:hover{
	cursor: pointer;
}

.list.add{
	transform: translateX(0%);
	transition: transform 0.5s ease;
	width: 100%;
	z-index: 999;
}

@media  screen and (max-width : 800px){
  .list{
	transform: translateX(-150%);
  }
}